---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cilium
    repo: https://helm.cilium.io
    version: 1.15.1
    releaseName: cilium
    namespace: kube-system
    valuesInline:
      ipam:
        mode: kubernetes
      kubeProxyReplacement: true
      k8sServiceHost: localhost
      k8sServicePort: 7445
      securityContext:
        capabilities:
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_ADMIN
            - SYS_RESOURCE
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
      bpf:
        masquerade: true
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      hubble:
        tls:
          enabled: false
        relay:
          enabled: true
        ui:
          enabled: true
