---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
controllers:
  lidarr:
    containers:
      app:
        image:
          repository: ghcr.io/onedr0p/lidarr
          tag: 2.1.7.4030
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: lidarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.0.0
          pullPolicy: IfNotPresent
        args:
          - lidarr
        env:
          PORT: "9707"
          URL: http://lidarr-metrics.svc
        envFrom:
          - secretRef:
              name: lidarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  web:
    enabled: true
    controller: lidarr
    annotations:
      external-dns.alpha.kubernetes.io/hostname: lidarr.localdomain
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8686
  metrics:
    controller: lidarr
    ports:
      metrics:
        port: 9707

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      lidarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/media
    advancedMounts:
      lidarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/backup/pvr
    advancedMounts:
      lidarr:
        app:
          - path: /backup
