---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
controllers:
  sonarr:
    containers:
      app:
        image:
          repository: ghcr.io/onedr0p/sonarr
          tag: 4.0.2.1183
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: sonarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.0.0
          pullPolicy: IfNotPresent
        args:
          - sonarr
        env:
          PORT: "9707"
          URL: http://sonarr
        envFrom:
          - secretRef:
              name: sonarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  sonarr:
    enabled: true
    controller: sonarr
    annotations:
      external-dns.alpha.kubernetes.io/hostname: sonarr.localdomain
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8989
  metrics:
    controller: sonarr
    ports:
      metrics:
        port: 9707

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      sonarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/media
    advancedMounts:
      sonarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/backup/pvr
    advancedMounts:
      sonarr:
        app:
          - path: /backup
