ingressRoute:
  dashboard:
    enabled: true
    insecure: true

api:
  dashboard: true
  insecure: true

ingressClass:
  enabled: true
  isDefaultClass: true

# https://github.com/argoproj/argo-cd/issues/1704#issuecomment-980531495
providers:
  kubernetesIngress:
    publishedService:
      enabled: true

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: "192.168.8.80"
