---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.0.1/charts/library/common/values.schema.json
controllers:
  readarr:
    containers:
      app:
        image:
          repository: ghcr.io/onedr0p/readarr-develop
          tag: 0.3.19.2437
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: readarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v2.0.0
          pullPolicy: IfNotPresent
        args:
          - readarr
        env:
          PORT: "9707"
          URL: http://readarr
        envFrom:
          - secretRef:
              name: readarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  readarr:
    enabled: true
    controller: readarr
    annotations:
      external-dns.alpha.kubernetes.io/hostname: readarr.localdomain
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 8787
  metrics:
    controller: readarr
    ports:
      metrics:
        port: 9707

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    advancedMounts:
      readarr:
        app:
          - path: /config
  media:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/media
    advancedMounts:
      readarr:
        app:
          - path: /data
  backup:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/backup/pvr
    advancedMounts:
      readarr:
        app:
          - path: /backup
