---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - apikey.yaml

helmCharts:
  - name: app-template
    repo: https://bjw-s.github.io/helm-charts
    version: 3.0.1
    releaseName: prowlarr
    namespace: prowlarr
    valuesFile: values.yaml
