---
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/onedr0p/prowlarr
          tag: 1.13.3.4273
          pullPolicy: IfNotPresent
        env:
          TZ: "America/Chicago"
        envFrom:
          - secretRef:
              name: prowlarr-apikey
      metrics:
        image:
          repository: ghcr.io/onedr0p/exportarr
          tag: v1.6.2
          pullPolicy: IfNotPresent
        args:
          - prowlarr
        env:
          PORT: "9707"
          URL: http://prowlarr
        envFrom:
          - secretRef:
              name: prowlarr-apikey

defaultPodOptions:
  securityContext:
    runAsUser: 979
    runAsGroup: 979
    fsGroup: 979
    fsGroupChangePolicy: "OnRootMismatch"

service:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: prowlarr.localdomain
    type: LoadBalancer
    ports:
      http:
        port: 80
        targetPort: 9696
  metrics:
    controller: main
    ports:
      metrics:
        port: 9707

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ceph-block
    size: 10Gi
    accessMode: ReadWriteOnce
    globalMounts:
      - path: /config
  media:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/media
    globalMounts:
      - path: /data
  backup:
    enabled: true
    type: nfs
    server: peepums
    path: /pool01/backup/pvr
    globalMounts:
      - path: /backup
