---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - namespace.yaml
  - applications.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 6.0.1
    releaseName: argocd
    namespace: argocd
    valuesInline:
      redis-ha:
        enabled: true
      params:
        server.insecure: true
      configs:
        cm:
          kustomize.buildOptions: "--enable-helm"
          resource.exclusions: |
            - apiGroups:
                - cilium.io
              kinds:
                - CiliumIdentity
              clusters:
                - "*"
      controller:
        replicas: 1
        metrics:
          enabled: true
      server:
        autoscaling:
          enabled: true
          minReplicas: 2
        metrics:
          enabled: true
        service:
          annotations:
            external-dns.alpha.kubernetes.io/hostname: argocd.localdomain
            omni-kube-service-exposer.sidero.dev/port: "52746"
            omni-kube-service-exposer.sidero.dev/label: Argo CD
            omni-kube-service-exposer.sidero.dev/icon: H4sICPiTlGUAA2FyZ28uc3ZnALVXbW/bOAz+3P0KnfflBliOJfk1a264bs0wIAcMKNCvRea4WTBfEsRO2my4/34kRdlOmnTdAdciokzJ5MMXUfTlu8e/K7ErN/VitRx5Kgg9US6L1WyxnI+8bXMvM+/dH68uf5NSfCyX5WbarDZD8eds9aUUn6pqWzfEEloH8LIvbm4/iuvH9WrTiM/Vdi4/LUVAzFurYyiSIAzF1XZRzUT4RggpQXy9m/dBKE8sZiNvMt2Xmzt4AIzLeuR9bZr1cDB4eHgIHkyw2swHOgzDAbzMW4aP1WL57dRGlef5gFZh68gL14+e2Fv66kLsFuXD1Qr5IhSRCmIaPFE3+6oceeVy+qUq5Zdp8W2+WW2Xs+GyfBAHe98SgmG9nhbwwnpT1uVmV3poGsoQzX4N/KZ8bAZFXQP/Iqib8Mf9oqqGr6/zJI6u3v5DTMXMq+T9+PpPZmq3MxnH44yZhpkfwutsHDIzcjuv07yVGf8oqsVarqfN1+F2U/3+GgLy6cOdvnvDG5IfK0C+aPbDMNCamakTZaJr40RlvZ0x83LeOL76MH5vnB3OulDhv+M688b057i6rx/FXg7Ib+C/OfiKBh4vLtEMUVTTGlICnOgJSJW/VOLrNEiL0A8lyPDDIAEaA80LZmigEVADNEVa8ERLRTuNo7XlK98+a1R7UcCCH/puxAVVEIVZKolv6S0i+e4NCPTg59h1DPgcep/R+w49g/cZvO/AM3bGaByt2SgFxiQdeIuvHS16SXokw3Z00uI5sIHHA3OKxaaA7G4NgrNawDHSIAlmcMBUGmSe2MAkhMkpjxyL0M+JiF4kwjwRYQVkcKYP36cyc7Wa7e/UnWeFWZnHkYo4y2LwrdYcp9RXigMCkxi5kDP2ZzjZ4lpqYiSO1gqD6WtcLhTyIHQKtudE4UcALmoUEnFiAq1RcMwK4sDcgGNS30RB5iugceHCKilX7AjKUlJmSFlEyiJWRnSict+EViXbpXyrFtSQTVGb3CTBnih3cBLawBTU5aQuIXXoBDpEksdK4zvggAl7kjPMReQn7ted+6Vzvzx0v2T3+8797HXfeV+S+yW5n62WFAXJUZAchRttUFvuM60lB4Cpqa0q9FSG3inY/749q9b/kgIgKQCduojURazOxkEjJBOycRQD2YtBe/ZdDLrzT653FDXmpDHpa6RQSAqCHTHuOgrURP/HSEDaJeR1HWRkXyxjH9I9xgcY0fUGWTK+sdvJj+7Fs/qYXlzOyvua54BiVe3h+i7pxNrrC46sWK8WywaAObFGUPEyoYAHS9E8WrGSWC0q7im4xAvyM1rayddcEnB5W5eC2ofh1015P/JedxBcl7CCBua+Wj0Md4t6Af3C254mJ90x5p1D407JcR2L2jqWcR3LA82VLO9Jd55znmw92olKvJPRTNtoxl1ZS2RM6aJlinckZouBH47ajrWmnMcjZYKsoJynQhZTaYNxwiKPonxYeMfQLPUKbwcr845z4dg1uXWNytoSb/iWwKI/OOeQY7HzLr8O/KLczazRiqjAqol3Y0bJrizFk5bR0UJq2HsZHURFBTa5YQE+0+9Po/YMCPUUhJJWQ0oggN7YYwzaqFDlHQqL4QUIuskJSO2sP30aj5BTNcIE5VQ1FA8D3fygEzL4NYFwx71YYH/6Qi1KncWtXbPxa7idRJW+VF4vE07lRE/vE13hsa7jE3DWKedE9R3xnLBzRefZdpfzOcdrAO7KiZt0zWksbZuONL5VScEdq2X6vFBBhhf9PlwzjW+1vfLeK2RqaotD0uE7ZS/pyxmowZaakLaz/wGqYaCGygquttpOYz2fcphqGLu8rYXHDe9Ja9lcez8b+12k3HcUfxkovAi0bR2w2lHPl+FNUYRtF2io29PYrYLRVBuxClGzhZeH6T6lNDdq0cHHlLIe4p6TuqtCYuHCJimipkgRTakaZtTZGVpPYS0vugZc9YVwUhj0sEFQ/Zk1+tjXPf9o76cfb9kOCzO3dtQPUf0HrNiwJQV242C+oY4vggVgTvCbNaOCrciEBEzAqyOxcDUapnMcrA5Hn36W8VDvgPwLtcDuGtMRAAA=
          type: LoadBalancer
        ingress:
          enabled: true
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
            cert-manager.io/cluster-issuer: cloudflare
          hosts:
            - argocd.mcmahan.io
          tls:
            - secretName: argocd-cert
              hosts:
                - argocd.mcmahan.io
      repoServer:
        autoscaling:
          enabled: true
          minReplicas: 2
        metrics:
          enabled: true
      applicationSet:
        replicas: 2
        metrics:
          enabled: true
